@model Diplom_Autentif.Models.Client

@{
    ViewBag.Title = "Добавить клиента";
}

<h2>Добавить</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Вопросы</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.First_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.First_name, 1, 10, new { @class = " form-control yourCustomClass" })
                @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Second_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Second_name, 1, 10, new { @class = " form-control yourCustomClass" })
                @Html.ValidationMessageFor(model => model.Second_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Third_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Third_name, 1, 10, new { @class = " form-control yourCustomClass" })
                @Html.ValidationMessageFor(model => model.Third_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Serial, 1, 4, new { @class = " form-control yourCustomClass" })
                @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Numb, 1, 5, new { @class = " form-control yourCustomClass" })
                @Html.ValidationMessageFor(model => model.Numb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку вопросов", "Index")
</div>



@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")

<style>
    .yourCustomClass {
        min-height: 20%;
        min-width: 80%;
    }

    .selectBox {
        height: 20%;
        width: 80%;
    }
</style>

